<div class="firstInicio">
  <div class="contentFiltros">
    <h3 style="text-align: center;">¡Hola <span>{{ nombre ||'[Nombre]' }}</span>!, Completa estas recomendaciones que tenemos para ti.</h3>
    <hr>
    <form [formGroup]="formPrefer" >
      <div class="tres prefer" *ngIf="uno">
        <p>¿Nos regalarías tu edad? </p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="edad"
            class="form-check-input"
            id="edad1"
            value="8-12 años"
            name="edad"
            #edad
            checked
            >
            <label for="edad1">8-12 años</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="edad"
            class="form-check-input"
            id="edad2"
            value="13-18 años"
            name="edad"
            #edad
            >
            <label for="edad2">13-18 años</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="edad"
            class="form-check-input"
            id="edad3"
            value="18-25 años"
            name="edad"
            #edad
            >
            <label for="edad3">18-25 años</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="edad"
            class="form-check-input"
            id="edad4"
            value="26-35 años"
            name="edad"
            #edad
            >
            <label for="edad4">26-35 años</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="edad"
            class="form-check-input"
            id="edad5"
            value="35-50 años"
            name="edad"
            #edad
            >
            <label for="edad5">35-50 años</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="edad"
            class="form-check-input"
            id="edad6"
            value="50-64 años"
            name="edad"
            #edad
            >
            <label for="edad6">50-64 años</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="edad"
            class="form-check-input"
            id="edad7"
            value="64- en adelante"
            name="edad"
            #edad
            >
            <label for="edad7">64- en adelante</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="next(edad.value)" [disabled]="formPrefer.value.edad === '' ">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="uno prefer" *ngIf="dos">
        <p>¿Qué tipo de sesión buscas?</p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="sesion"
            class="form-check-input"
            id="sesion1"
            value="Individual"
            name="sesion"
            #sesion
            checked
            >
            <label for="sesion1">Individual, busco enfocarme en mí </label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="sesion"
            class="form-check-input"
            id="sesion2"
            name="sesion"
            value="Pareja"
            #sesion
            >
            <label for="sesion2">De pareja, perfecto para 2 personas </label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="sesion"
            class="form-check-input"
            id="sesion3"
            value="Familiar"
            name="sesion"
            #sesion
            >
            <label for="sesion3">Grupal, más de 2 personas </label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="next1(sesion.value)" [disabled]="formPrefer.value.sesion === '' ">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="dos prefer" *ngIf="tres">
        <p>¿Qué modelo de terapia estás buscando?</p>
        <div class="col">
          <span class="radio">
            <input
            type="checkbox"
            formControlName="especialidad"
            class="form-check-input"
            id="especialidad1"
            value="Psicodinámica"
            name="especialidad"
            #especialidad
            checked
            (change)="especial($event)"
            >
            <label for="especialidad1">Psicodinámico</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="especialidad"
            class="form-check-input"
            id="especialidad2"
            value="Humanista"
            name="especialidad"
            #especialidad
            (change)="especial($event)"
            >
            <label for="especialidad2">Humanista</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="especialidad"
            class="form-check-input"
            id="especialidad3"
            value="Cognitivo-Conductual"
            name="especialidad"
            #especialidad
            (change)="especial($event)"
            >
            <label for="especialidad3">Cognitivo-Conductual</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="especialidad"
            class="form-check-input"
            id="especialidad4"
            value="Sistemica"
            name="especialidad"
            #especialidad
            (change)="especial($event)"
            >
            <label for="especialidad4">Sistémico</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="especialidad"
            class="form-check-input"
            id="especialidad5"
            value="Gestalt"
            name="especialidad"
            #especialidad
            (change)="especial($event)"
            >
            <label for="especialidad5">Gestalt</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="especialidad"
            class="form-check-input"
            id="especialidad6"
            value="Aceptación y Compromiso"
            name="especialidad"
            #especialidad
            (change)="especial($event)"
            >
            <label for="especialidad6">Aceptación y Compromiso</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="especialidad"
            class="form-check-input"
            id="especialidad7"
            value="Breve"
            name="especialidad"
            #especialidad
            (change)="especial($event)"
            >
            <label for="especialidad7">Breve</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="especialidad"
            class="form-check-input"
            id="especialidad8"
            [value]="null"
            name="especialidad"
            #especialidad
            (change)="especial($event)"
            >
            <label for="especialidad8">Aún no lo sé, ¡Me gustaría explorar!</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="next2(especialidad.value)" [disabled]="preferencias.terapia.length === 0 ">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="dos prefer" *ngIf="cuatro">
        <p>¿Con quién te sentirás más cómodo compartiendo tu situación?</p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="genero"
            class="form-check-input"
            id="genero1"
            value="Femenino"
            name="genero"
            #genero
            checked
            >
            <label for="genero1">Una Mujer</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="genero"
            class="form-check-input"
            id="genero2"
            value="Masculino"
            name="genero"
            #genero
            >
            <label for="genero2">Un Hombre</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="genero"
            class="form-check-input"
            id="genero3"
            [value]="null"
            name="genero"
            #genero
            >
            <label for="genero3">Me es indiferente</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="next3(genero.value)" [disabled]="formPrefer.value.genero === '' ">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="dos prefer" *ngIf="cinco">
        <p>¿En qué horario tendrías tu sesión? </p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="hora"
            class="form-check-input"
            id="hora1"
            value="8:00"
            name="hora"
            #hora
            checked
            >
            <label for="hora1">8:00 am- 12:00 pm</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="hora"
            class="form-check-input"
            id="hora2"
            value="12:00"
            name="hora"
            #hora
            >
            <label for="horas2">12:00 pm- 4:00 pm</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="hora"
            class="form-check-input"
            id="hora3"
            value="16:00"
            name="hora"
            #hora
            >
            <label for="horas3">4:00 pm- 8:00 pm</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="next4(hora.value)">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="dos prefer" *ngIf="seis">
        <p>¿Cuánto buscas que dure tu proceso de sanación?  </p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="tiempoS"
            class="form-check-input"
            id="tiempoS1"
            value="1-2 meses"
            name="tiempoS"
            #tiempoS
            checked
            >
            <label for="tiempoS1">1-2 meses</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="tiempoS"
            class="form-check-input"
            id="tiempoS2"
            value="3-12 meses"
            name="tiempoS"
            #tiempoS
            >
            <label for="tiempoS2">3-12 meses</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="tiempoS"
            class="form-check-input"
            id="tiempoS3"
            value="1-2 años"
            name="tiempoS"
            #tiempoS
            >
            <label for="tiempoS3">1-2 años</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="tiempoS"
            class="form-check-input"
            id="tiempoS4"
            value="Indefinido"
            name="tiempoS"
            #tiempoS
            >
            <label for="tiempoS4">Indefinido</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="next5()">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="dos prefer" *ngIf="siete">
        <p>¿Cómo esperas que sea el avance de tu proceso? </p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="avance"
            class="form-check-input"
            id="avance1"
            value="Conciso, enfocado y con objetivos alcanzables a corto plazo"
            name="avance"
            #avance
            checked
            >
            <label for="avance1">Conciso, enfocado y con objetivos <br> alcanzables a corto plazo</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="avance"
            class="form-check-input"
            id="avance2"
            value="A un ritmo moderado, abriendo la posibilidad de tratar temas conforme vayan saliendo."
            name="avance"
            #avance
            >
            <label for="avance2">A un ritmo moderado, abriendo la <br> posibilidad de tratar temas conforme <br> vayan saliendo.</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="avance"
            class="form-check-input"
            id="avance3"
            value="No tengo prisa, busco estar en constante crecimiento poniendo a prueba lo que vaya aprendiendo."
            name="avance"
            #avance
            >
            <label for="avance3">No tengo prisa, busco estar en constante <br> crecimiento poniendo a prueba lo <br> que vaya aprendiendo.</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="avance"
            class="form-check-input"
            id="avance4"
            value="No lo sé aún, habría que descubrirlo."
            name="avance"
            #avance
            >
            <label for="avance4">No lo sé aún, habría que descubrirlo.</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="next6()">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="dos prefer" *ngIf="ocho">
        <p>¿Qué buscas en el proceso de sanación?</p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="sanacion"
            class="form-check-input"
            id="sanacion1"
            value="Ejercicios prácticos durante la sesión"
            name="sanacion"
            #sanacion
            checked
            >
            <label for="sanacion1">Ejercicios prácticos durante la sesión</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="sanacion"
            class="form-check-input"
            id="sanacion2"
            value="Sentirse escuchado y aprender nuevas herramientas a poner a prueba"
            name="sanacion"
            #sanacion
            >
            <label for="sanacion2">Sentirse escuchado y aprender nuevas <br> herramientas a poner a prueba</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="sanacion"
            class="form-check-input"
            id="sanacion3"
            value="Ejercicios prácticos para fuera de la sesión"
            name="sanacion"
            #sanacion
            >
            <label for="sanacion3">Ejercicios prácticos para fuera de la sesión</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="sanacion"
            class="form-check-input"
            id="sanacion4"
            value="Ejercicios prácticos dentro y fuera de la sesión"
            name="sanacion"
            #sanacion
            >
            <label for="sanacion4">Ejercicios prácticos dentro y fuera de la sesión</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="sanacion"
            class="form-check-input"
            id="sanacion5"
            value="No lo se por el momento"
            name="sanacion"
            #sanacion
            >
            <label for="sanacion5">No lo se por el momento</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="next7()">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="dos prefer" *ngIf="nueve">
        <p>¿Qué buscas en un terapeuta?</p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="buscarT"
            class="form-check-input"
            id="buscarT1"
            value="Que sea directo y a través de una conversación asertiva."
            name="buscarT"
            #buscarT
            checked
            >
            <label for="buscarT1">Que sea directo y a través de <br> una conversación asertiva.</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="buscarT"
            class="form-check-input"
            id="buscarT2"
            value="Que expanda mi mente profundizando en mis emociones y pensamientos."
            name="buscarT"
            #buscarT
            >
            <label for="buscarT2">Que expanda mi mente profundizando <br> en mis emociones y pensamientos.</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="buscarT"
            class="form-check-input"
            id="buscarT3"
            value="Estoy abierto a ambas opciones"
            name="buscarT"
            #buscarT
            >
            <label for="buscarT3">Estoy abierto a ambas opciones</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="buscarT"
            class="form-check-input"
            id="buscarT4"
            value="No lo se por el momento"
            name="buscarT"
            #buscarT
            >
            <label for="buscarT4">No lo se por el momento</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="next8()">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="dos prefer" *ngIf="dies">
        <p>¿Qué enfoque buscas de la terapia?</p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="enfoque"
            class="form-check-input"
            id="enfoque1"
            value="Ayuda para manejar mis emociones"
            name="enfoque"
            #enfoque
            checked
            >
            <label for="enfoque1">Ayuda para manejar mis emociones</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="enfoque"
            class="form-check-input"
            id="enfoque2"
            value="Ayuda para proponerme metas y cumplirlas"
            name="enfoque"
            #enfoque
            >
            <label for="enfoque2">Ayuda para proponerme metas y cumplirlas</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="enfoque"
            class="form-check-input"
            id="enfoque3"
            value="Mejorar mis relaciones"
            name="enfoque"
            #enfoque
            >
            <label for="enfoque3">Mejorar mis relaciones</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="enfoque"
            class="form-check-input"
            id="enfoque4"
            value="Hablar sobre mi sexualidad"
            name="enfoque"
            #enfoque
            >
            <label for="enfoque4">Hablar sobre mi sexualidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="enfoque"
            class="form-check-input"
            id="enfoque5"
            value="Reprimir mis conductas autodestructivas"
            name="enfoque"
            #enfoque
            >
            <label for="enfoque5">Reprimir mis conductas autodestructivas</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="enfoque"
            class="form-check-input"
            id="enfoque6"
            value="Mejorar mi autoestima"
            name="enfoque"
            #enfoque
            >
            <label for="enfoque6">Mejorar mi autoestima</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="enfoque"
            class="form-check-input"
            id="enfoque7"
            value="Mejorar mi alimentación y sentirme bien con mi cuerpo"
            name="enfoque"
            #enfoque
            >
            <label for="enfoque7">Mejorar mi alimentación y sentirme bien con mi cuerpo</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="next9()">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="dos prefer" *ngIf="once">
        <p>¿Estarías abierto a la posibilidad de terapia nutricional? </p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="nutri"
            class="form-check-input"
            id="nutri"
            [value]="true"
            name="nutri"
            #nutri
            checked
            >
            <label for="nutri1">Por supuesto</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="nutri"
            class="form-check-input"
            id="nutri"
            [value]="false"
            name="nutri"
            #nutri
            >
            <label for="nutri2">No lo creo</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="nutri"
            class="form-check-input"
            id="nutri"
            [value]="null"
            name="nutri"
            #nutri
            >
            <label for="nutri3">Aún no lo se, posiblemente en un futuro</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="next10()">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="dos prefer" *ngIf="doce">
        <p>Marca 3 motivos por los cuales buscas acudir a terapia </p>
        <div class="col">
          <span class="radio">
            <input
            type="checkbox"
            formControlName="acudir"
            class="form-check-input"
            id="acudir1"
            value="Mejorar mis relaciones"
            name="acudir"
            #acudir
            (change)="acudirPrefer($event)"
            checked
            >
            <label for="acudir1">Mejorar mis relaciones</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="acudir"
            class="form-check-input"
            id="acudir2"
            value="Aumentar mi autoestima"
            name="acudir"
            (change)="acudirPrefer($event)"
            #acudir
            >
            <label for="acudir2">Aumentar mi autoestima</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="acudir"
            class="form-check-input"
            id="acudir3"
            value="Corregir conductas"
            name="acudir"
            (change)="acudirPrefer($event)"
            #acudir
            >
            <label for="acudir3">Corregir conductas</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="acudir"
            class="form-check-input"
            id="acudir4"
            value="Alcanzar metas personales y/o profesionales"
            name="acudir"
            (change)="acudirPrefer($event)"
            #acudir
            >
            <label for="acudir4">Alcanzar metas personales y/o profesionales</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="acudir"
            class="form-check-input"
            id="acudir5"
            value="Trastornos alimenticios"
            name="acudir"
            (change)="acudirPrefer($event)"
            #acudir
            >
            <label for="acudir5">Trastornos alimenticios</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="acudir"
            class="form-check-input"
            id="acudir6"
            value="Alcanzar la introspección emocional"
            name="acudir"
            (change)="acudirPrefer($event)"
            #acudir
            >
            <label for="acudir6">Alcanzar la introspección emocional</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="acudir"
            class="form-check-input"
            id="acudir7"
            value="Aumentar mi Inteligencia emocional"
            name="acudir"
            (change)="acudirPrefer($event)"
            #acudir
            >
            <label for="acudir7">Aumentar mi Inteligencia emocional</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="acudir"
            class="form-check-input"
            id="acudir8"
            value="Manejar mis emociones correctamente"
            name="acudir"
            (change)="acudirPrefer($event)"
            #acudir
            >
            <label for="acudir8">Manejar mis emociones correctamente</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="acudir"
            class="form-check-input"
            id="acudir9"
            value="Tratar mi depresión"
            name="acudir"
            (change)="acudirPrefer($event)"
            #acudir
            >
            <label for="acudir9">Tratar mi depresión</label>
          </span>
          <span class="radio">
            <input
            type="checkbox"
            formControlName="acudir"
            class="form-check-input"
            id="acudir10"
            value="Alcanzar un diagnóstico de mi salud mental"
            name="acudir"
            (change)="acudirPrefer($event)"
            #acudir
            >
            <label for="acudir10">Alcanzar un diagnóstico de mi salud mental</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button" (click)="prefer()" >Siguiente</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
