<div class="firstInicio">
  <div class="contentFiltros">
    <h3 style="text-align: center;">¡Hola [Nombre]!, Completa estas recomendaciones que tenemos para ti.</h3>
    <hr>
    <form >
      <div class="uno prefer">
        <p>¿En que especialidad estas interesado/a?</p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"
            name="especialidad"
            checked
            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            name="especialidad"
            value="especialidad1"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"
            name="especialidad"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"
            name="especialidad"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="dos prefer">
        <p>¿En que especialidad estas interesado/a?</p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"
            checked
            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="tres prefer">
        <p>¿En que especialidad estas interesado/a?</p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"
            checked
            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button">Siguiente</button>
          </div>
        </div>
      </div>
      <div class="cuatro prefer">
        <p>¿En que especialidad estas interesado/a?</p>
        <div class="col">
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"
            checked
            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <span class="radio">
            <input
            type="radio"
            formControlName="especialidad"
            id="especialidad1"
            value="especialidad1"

            >
            <label for="especialidad">Especialidad</label>
          </span>
          <div class="buttons">
            <button class="btn btn-secondary" type="button">Siguiente</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
