<nav class="navConatin">
  <div class="image">
    <img
      src="../../../assets/img/coralio_logo.png"
      style="width: 100%; cursor: pointer"
      routerLink="/"
    />
  </div>
  <div class="buttons">
    <ul>
      <li>
        <a href="/">Inicio</a>
        <a href="">Sobre nosotros</a>
        <a href="/blog">Blog</a>
        <a href="">FAQ</a>
      </li>
    </ul>
    <button type="button" class="btn btn-secondary" routerLink="/login">
      Ingreso/Registrarse
    </button>
  </div>
  <!-- responsive -->
  <div class="butonsR">
    <button class="btn btn-secondary">
      <i class="bi bi-three-dots-vertical"></i>
    </button>
  </div>
</nav>
