<div class="content">
  <div class="header">
    <h5>Pacientes</h5>
    <div class="route">
      <i class="fa-solid fa-house"></i>
      <p>/ Admin / Terapeutas</p>
    </div>
  </div>
  <div class="tableDiv">
    <div class="seacrh">
      <button class="btn btn-primary" style="font-size: 20px;">+</button>
      <div>
        <label for="seaech">search: </label>
        <input type="form-control" id="seaech">
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Telefono</th>
          <th scope="col">Cedula</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Estado</th>
          <th scope="col">Ultimo Login</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="pacientes.length < 0; else error">
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
      </tbody>
      <tfoot>
        <ng-template #error>
          <p style="color: #000; width: 100%; text-align: center;">No hay resultados</p>
        </ng-template>
      </tfoot>
    </table>
  </div>
</div>
