.content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
  min-height: 400px;
}

.contentTerapeutas{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: start;

  .filtros{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    .filtro{
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.1);
      a{
        width: 100%;
        text-align: start;
        background-color: #fff;
        color: #000;
        border: 0;
        font-size: 16px;
        font-weight: 500;
      }

      .card-body{
        border: 0;
      }
      p{
        font-size: 16px;
        font-weight: 500;
      }
      .checks1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        .check{
          display: flex;
          gap: 5px;
        }
      }
    }
  }

  .contenido{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 70%;
    cursor: pointer;
    .terapeuta{
      display: flex;
      gap: 20px;
      padding: 20px;
      border-radius: 20px;
      background-color: #fff;
      .img{
        width: 200px;
        height: 120px;
        img{
          width: 100%;
          object-fit: cover;
        }
      }
      .description{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .desc{
        margin-bottom: 10px;
        h3{
          font-weight: 600;
          color: #a26cf8;
          font-size: 18px;
        }
      }

      .descSec{
        display: flex;
        justify-content: space-between;
        width: 100%;
        span{
          color: #b7b7b7;
        }
      }

    }
  }

  .contenido:hover{
    transform: scale(1.01);
    transition: .1s ease;
  }
}
