<div class="content">
  <h2>Terapeutas</h2>
  <div class="contentTerapeutas">
    <div class="filtros">
      <div class="filtro">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
          Especialidad
        </a>
        <div class="collapse" id="collapseExample1">
          <div class="card card-body">
            <p>Filtrar especialidad</p>
            <div class="checks1">
              <span class="check">
                <input type="checkbox" id="check" >
                <label for="check">Psicoanalisis</label>
              </span>
              <span class="check">
                <input type="checkbox" id="check" >
                <label for="check">Cognitivo Conductual</label>
              </span>
              <span class="check">
                <input type="checkbox" id="check" >
                <label for="check">Integrativo</label>
              </span>
              <span class="check">
                <input type="checkbox" id="check" >
                <label for="check">Sistémico</label>
              </span>
              <span class="check">
                <input type="checkbox" id="check" >
                <label for="check">Humanista</label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="filtro">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
          Pais
        </a>
        <div class="collapse" id="collapseExample2">
          <div class="card card-body">
            <p>Filtrar especialidad</p>
            <div class="checks1">
              <span class="check">
                <input type="checkbox" id="check" >
                <label for="check">PERÚ</label>
              </span>
              <span class="check">
                <input type="checkbox" id="check" >
                <label for="check">MEXICO</label>
              </span>
              <span class="check">
                <input type="checkbox" id="check" >
                <label for="check">COLOMBIA</label>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contenido"></div>
  </div>
</div>
