<div class="content container">
  <div class="portadaVideo">
    <img src="../../../../assets/img/portada.videotest.png" >
  </div>
  <div class="perfil">
    <div class="sesion1">
      <div class="imgProfile">
        <img src="../../../../assets/img/paciente.png">
      </div>
      <div class="desc">
        <h3>NOMBRE</h3>
        <p>Especialidad(es):</p>
        <p>Genero: </p>
        <p>Edad: </p>
        <p>Horario: </p>
      </div>
    </div>
    <div class="sesion2">
      <p>descripcion</p>
    </div>
  <div class="pagos"></div>
</div>
