<nav>
  <div class="header">
    <div class="menu">
      <button type="button" class="btn btn-secondary" (click)="abrirMenu()"><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="contentButtons">
      <li class="respon"><i class="fa-sharp fa-solid fa-moon"></i></li>
      <li><i class="fa-sharp fa-solid fa-comment"></i></li>
      <li class="respon"><i class="fa-sharp fa-solid fa-expand"></i></li>
      <div class="profile">
        <div class="imageProfile">
          <img src="../../../assets/img/profile.jpg" width="100%">
        </div>
        <div class="descriptionProfile">
          <span>Nombre</span>
          <p class="dropDownProfile">Admin <i class="fa-sharp fa-solid fa-chevron-down"></i></p>
          <div class="dropDown">
            hola
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
