<div class="contentFormUsers">
  <div class="formulario">
    <form [formGroup]="formUser" (ngSubmit)="createOrNew()">
      <div class="col">
        <span>
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            id="nombre"
            class="form-control"
            formControlName="nombre"
            placeholder="Nombre*"
            required
          />
        </span>
        <span>
          <label for="Apellido">Apellido:</label>
          <input
            type="text"
            id="Apellido"
            class="form-control"
            formControlName="apellido"
            placeholder="Apellido*"
            required
          />
        </span>
      </div>
      <div class="col">
        <span>
          <label for="Email">Email:</label>
          <input
            type="email"
            id="Email"
            class="form-control email"
            formControlName="email"
            placeholder="Email*"
            required
          />
        </span>
        <span>
          <label for="Telefono">Telefono:</label>
          <input
            type="text"
            id="Telefono"
            class="form-control"
            formControlName="telefono"
            placeholder="Telefono*"
            required
          />
        </span>
      </div>
      <div class="buttons">
        <button class="btn btn-success" type="submit" >Guardar</button>
        <button class="btn btn-danger" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</div>
<div class="contentFormUsers">
  <form [formGroup]="formUser" (ngSubmit)="updatePassword()">
    <div class="col">
      <span>
        <label for="password">Contraseña:</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Contraseña*"
          formControlName="password"
          required
        />
      </span>
      <span>
        <label for="password1">Nueva Contraseña:</label>
        <input
          type="password"
          id="password1"
          class="form-control"
          placeholder="Nueva*"
          formControlName="password1"
          required
        />
      </span>
      <span>
        <label for="password2">Repetir Contraseña:</label>
        <input
          type="password"
          id="password2"
          class="form-control"
          placeholder="Repetir Nueva*"
          formControlName="password2"
          required
        />
      </span>
    </div>
    <div class="buttons">
      <button class="btn btn-success" type="submit">Guardar</button>
    </div>
  </form>
</div>
<div class="contentFormUsers">
  <form  (ngSubmit)="updateFile()">
    <div class="col">
      <span style="display: flex; flex-direction: column">
        <label for="video"
          >Imagen de perfil:</label
        >
        <input
          type="file"
          id="video"
          class="form-control"
          accept="image/*"
          (change)="onImageSelected($event)"
          required
        />
      </span>
    </div>
    <div class="buttons">
      <button class="btn btn-success" type="submit" >Guardar</button>
    </div>
  </form>
</div>
