<div class="content_auth">
  <section class="content_portada_auth">
    <img src="./assets/img/cover-registro.jpg" alt="" />
  </section>
  <section class="content_form_auth">
    <div class="header_form">
      <img
        src="./assets/img/coralio_logo.png"
        alt=""
        class="logo"
        routerLink="/"
        style="cursor: pointer"
      />
    </div>

    <div class="body_form">
      <h2>Crear una cuenta</h2>
      <h3>Ingresa tus datos</h3>
      <form [formGroup]="formUser" (ngSubmit)="registrar()">
        <div class="group_form">
          <label for="nombre">Nombre*</label>
          <div class="group_input">
            <input
              type="text"
              id="nombre"
              placeholder="Juanito"
              formControlName="nombre"
              required
              style="width: 100%;"
            />
          </div>
        </div>

        <div class="group_form">
          <label for="nombre">Apellido*</label>
          <div class="group_input">
            <input
              type="text"
              id="nombre"
              placeholder="Perez"
              formControlName="apellido"
              required
              style="width: 100%;"
            />
          </div>
        </div>

        <div class="group_form">
          <label for="id">Identificacion* (Número de INE o  CURP)</label>
          <div class="group_input">
            <input
              type="number"
              id="id"
              placeholder="1001943122"
              formControlName="id"
              required
              style="width: 100%;"
            />
          </div>
        </div>

        <div class="group_form">
          <label for="fecha">Fecha de nacimiento*</label>
          <input
            type="date"
            id="fecha"
            formControlName="fecha"
            required
          />
        </div>

        <div class="group_form">
          <label for="">Correo electronico*</label>
          <input
            type="text"
            placeholder="correo@mail.com"
            formControlName="email"
            required
          />
        </div>

        <div class="group_form">
          <label for="">Contraseña*</label>
          <input
            type="password"
            placeholder="*********"
            formControlName="contraseña"
            required
          />
        </div>
        <div class="group_form">
          <select
            id="rol"
            class="form-select"
            aria-label="Default select example"
            formControlName="rol"
            required
          >
            <option selected>Selecciona un rol</option>
            <option value="terapeuta">Terapeuta</option>
            <option value="paciente">Paciente</option>
          </select>
        </div>
        <div class="terapeutas_datos" *ngIf="formUser.value.rol === 'terapeuta'">
          <div class="group_form">
            <label for="">Cedula Profesional*</label>
            <input
              type="number"
              placeholder="123456789"
              formControlName="cedulaProfesional"
            />
          </div>
        </div>

        <div class="group_check">
          <input type="checkbox" formControlName="terminos" />
          <label for="">Aceptar <a href=""> Politica de Privacidad</a></label>
        </div>

        <div class="group_btn">
          <button type="submit" [disabled]="!formUser.valid">
            Crear Cuenta
          </button>
        </div>
      </form>

      <div class="option_auth_title">
        <p>O ingresa con</p>
        <hr />
      </div>

      <div class="option_auth_google">
        <a href="">Registro con Google</a>
      </div>

      <div class="crear_cuenta">
        <p>
          ¿Tienes una cuenta? <a [routerLink]="['/login']">Iniciar Sesion</a>
        </p>
      </div>
    </div>
  </section>
</div>
