<div class="content_auth">
  <section class="content_portada_auth">
    <img src="./assets/img/cover-auth.jpg" alt="" />
  </section>
  <section class="content_form_auth">
    <div class="header_form">
      <img src="./assets/img/coralio_logo.png" alt="" class="logo" routerLink="/" style="cursor: pointer" />
    </div>

    <form [formGroup]="formLogin" class="body_form">
      <h2>Ingresa a la plataforma</h2>

      <div class="group_form">
        <label for="">Correo electronico</label>
        <input
          type="email"
          placeholder="correo@mail.com"
          formControlName="email"
          required
        />
      </div>

      <div class="group_form">
        <label for="">Contraseña</label>
        <input
          type="password"
          placeholder="*********"
          formControlName="password"
          required
        />
      </div>
      <p [style]="{ color: message.color }">{{ message.message }}</p>
      <!-- Buton terapeuta -->
      <div class="group_btn">
        <button
          type="button"
          (click)="loginTerapeuta()"
          (focus)="(true)"
          [disabled]="!formLogin.valid"
        >
          Ingresar
        </button>
      </div>

      <div class="option_auth_title">
        <p>O ingresa con</p>
        <hr />
      </div>

      <div class="option_auth_google">
        <a href="">Ingresa con Google</a>
      </div>

      <div class="crear_cuenta">
        <p>
          ¿No tienes una cuenta?
          <a [routerLink]="['/register-paciente']">Crear una cuenta como paciente</a>
          <span style="color: #000; font-size: 20px;"> o </span>
          <a [routerLink]="['/register-terapeuta']">Crear una cuenta como terapeuta</a>
        </p>
      </div>
    </form>
  </section>
</div>
