.content{
  width: 100%;
}

.tableDiv{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
  background-color: #ffff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.tableDiv input{
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  outline: none;
  padding: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seacrh{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.route {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding: 20px 0;

  p,
  i {
    margin: 0;
    color: #b3b3b3;
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .tableDiv {
    padding: 30px;
  }
}
