.content{
  width: 100%;
}

.tableDiv{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
  background-color: #ffff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.tableDiv input{
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  outline: none;
  padding: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seacrh{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .btn{
    padding: 6px 18px;
  }
}

.route {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding: 20px 0;

  p,
  i {
    margin: 0;
    color: #b3b3b3;
    font-size: 14px;
  }
}

.estado{
  width: 100%;
}

.btn-primary{
  background-color: #7366ff;
  border: 0;
}

.searchBar{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

tr{
  text-align: center;
}

td{
}


.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, .8);
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
}

.content-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.card{
  width: 300px;
  height: 373px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  letter-spacing: .5px;
  cursor: pointer;
  border: 0;
}

.cardEmpty{
  width: 300px;
  height: 373px;
  border: 2px dashed #3b3b3b;
  border-radius: 20px;
  opacity: .5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .plus{
    font-size: 50px;
    font-weight: 400;
    color: #3b3b3b;
    opacity: .5;
  }
}

.card:hover, .cardEmpty:hover{
  transition: .1s ease;
  transform: scale(1.01);
}

.desCard{
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media screen and (min-width: 1024px) {
  .tableDiv {
    padding: 30px;
  }
}
