footer{
  width: 100%;
  background-color: #f1f1f1;
}

.footer{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.footer span{
  font-size: 14px;
}

