<div class="content_auth">
    <section class="content_portada_auth">
      <img src="./assets/img/cover-registro.jpg" alt="">
    </section>
    <section class="content_form_auth">
      <div class="header_form">
        <img src="./assets/img/coralio_logo.png" alt="" class="logo">
      </div>
  
      <div class="body_form">
        <h2>Crear una cuenta</h2>
        <h3>Ingresa tus datos</h3>

        <div class="group_form">
            <label for="">Tus nombres</label>
            <div class="group_input">
                <input type="text" placeholder="nombres">
                <input type="text" placeholder="apellidos">
            </div>
          </div>
  
        <div class="group_form">
          <label for="">Correo electronico</label>
          <input type="text" placeholder="correo@mail.com">
        </div>
  
        <div class="group_form">
          <label for="">Contraseña</label>
          <input type="password" placeholder="*********">
        </div>

        <div class="group_check">
            <input type="checkbox">
            <label for="">Aceptar <a href=""> Politica de Privacidad</a></label>
        </div>
  
        <div class="group_btn">
          <button type="submit">Crear Cuenta</button>
        </div>
  
        <div class="option_auth_title">
          <p>O ingresa con</p>
          <hr>
        </div>
  
        <div class="option_auth_google">
          <a href="">Registro con Google</a>
        </div>
  
        <div class="crear_cuenta">
          <p>¿Tienes una cuenta? <a [routerLink]="['/auth/login']">Iniciar Sesion</a></p>
        </div>
      </div>
    </section>
  </div>