<div class="lateralBar">
  <div class="imageBar">
    <img src="../../../../assets/img/coralio_logo.png" style="width: 60%;">
    <i class="fa-solid fa-chevron-left esconder" (click)="esconder()"></i>
  </div>
  <div class="listOptions">
    <div class="general">
      <h6>Usuarios</h6>
      <li>
        <a (click)="goInicio()" [class.activeButton]="terapeutas"><i class="fa-duotone fa-people-simple"></i>Terapeutas</a>
        <a (click)="goPacientes()"[class.activeButton]="pacientes"><i class="fa-solid fa-paper-plane"></i>Pacientes</a>
        <a (click)="goDocumentos()"[class.activeButton]="terapias"><i class="fa-regular fa-file-lines"></i>Configurar Terapias</a>
      </li>
    </div>
  </div>
</div>
